@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  background: #8C9775;
  width: 100%;
  height: 90px;
}
@media (max-width: 768px) {
  .header {
    height: 70px;
  }
}
.header__wrap {
  max-width: 1024px;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .header__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .header__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .header__wrap {
    padding-top: 10px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}
.navigation__sosial-media {
  display: flex;
  gap: 20px;
}
.navigation__sosial-media a img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .navigation__sosial-media a img {
    width: 30px;
    height: 30px;
  }
}
.navigation__inside-links {
  display: flex;
  align-items: center;
}
.navigation__link {
  margin-right: 30px;
  color: #FAF8EC;
  font-size: 20px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (max-width: 1024px) {
  .navigation__link {
    font-size: 18px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.navigation__btn {
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  padding: 0.3em 1em;
  font-size: 20px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  color: #8C9775;
  background-color: #FAF8EC;
  border-radius: 23px;
  border: 1px solid #8c9775;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .navigation__btn {
    font-size: 18px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.hamburger_xs {
  display: none;
}

@media (max-width: 768px) {
  .hamburger_xs {
    display: block;
    max-width: 220px;
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  .hamburger_xs input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  .hamburger_xs span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #FAF8EC;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .hamburger_xs span:first-child {
    transform-origin: 0% 0%;
  }
  .hamburger_xs span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .hamburger_xs input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FAF8EC;
  }
  .hamburger_xs input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .hamburger_xs input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .hamburger_xs .menu {
    position: absolute;
    width: 220px;
    margin: -100px 0 0 -50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 100px;
    background: #8C9775;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .hamburger_xs .menu a {
    color: #FAF8EC;
    transition: color 0.3s ease;
  }
  .hamburger_xs .menu a li {
    padding: 10px 0;
    font-size: 22px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hamburger_xs .menu a:hover {
    color: #6a6763;
  }
  .hamburger_xs input:checked ~ ul {
    transform: none;
  }
}
.home {
  background-color: #FAF8EC;
  height: auto;
}
.home__wrap {
  max-width: 1024px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .home__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .home__wrap {
    max-width: 800px;
  }
}

.homeBox:last-child {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .homeBox:last-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .homeBox:last-child {
    flex-direction: column;
    align-items: center;
  }
}

.homeBox__title {
  font-size: 50px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #8C9775;
  text-align: center;
  margin-bottom: 0;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-color: #FAF8EC;
}
@media screen and (max-width: 1024px) {
  .homeBox__title {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .homeBox__title {
    padding-top: 15px;
    font-size: 40px;
  }
}
.homeBox__img {
  flex-basis: 29.5%;
}
@media screen and (max-width: 1024px) {
  .homeBox__img {
    flex-basis: 33%;
  }
}
@media (max-width: 768px) {
  .homeBox__img {
    margin-right: 0;
    width: 40%;
  }
}
@media (max-width: 500px) {
  .homeBox__img {
    width: 60%;
  }
}
.homeBox__img-img {
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: -8px 8px 56px 19px rgba(0, 0, 0, 0.2509803922);
}
.homeBox__content {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .homeBox__content {
    flex-basis: 60%;
    width: 90%;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .homeBox__content {
    flex-basis: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .homeBox__title_name {
    font-size: 35px;
    text-align: right;
  }
}
@media (max-width: 768px) {
  .homeBox__title_name {
    padding: 0;
    text-align: center;
  }
}
.homeBox__list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  gap: 8px;
  flex-shrink: 1;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #8C9775;
}
@media screen and (max-width: 1024px) {
  .homeBox__list {
    gap: 6px;
  }
}
@media (max-width: 768px) {
  .homeBox__list {
    height: auto;
  }
}
.homeBox__item {
  list-style-type: none;
  font-size: 22px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #8C9775;
  padding: 0 15px;
}
@media screen and (max-width: 1024px) {
  .homeBox__item {
    font-size: 18px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .homeBox__item {
    text-align: center;
  }
}
.homeBox__item:first-child {
  margin-bottom: 15px;
}
@media screen and (max-width: 1024px) {
  .homeBox__item:first-child {
    margin-bottom: 10px;
  }
}

.about {
  background-color: #FAF8EC;
  height: auto;
}
.about__wrap {
  max-width: 1024px;
  margin: auto;
  width: 90%;
}
@media screen and (max-width: 1024px) {
  .about__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .about__wrap {
    max-width: 800px;
  }
}

.aboutBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .aboutBox {
    gap: 25px;
  }
}
@media (max-width: 768px) {
  .aboutBox {
    gap: 20px;
  }
}
.aboutBox__text-big {
  font-size: 35px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #8C9775;
  margin-left: 30px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FAF8EC;
}
@media screen and (max-width: 1024px) {
  .aboutBox__text-big {
    font-size: 30px;
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .aboutBox__text-big {
    margin-left: unset;
    text-align: center;
    font-size: 25px;
  }
}
.aboutBox__list {
  padding: 0 55px;
  margin-bottom: 30px;
  position: relative;
  font-size: 25px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 1024px) {
  .aboutBox__list {
    padding: 0 30px;
    font-size: 20px;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .aboutBox__list {
    font-size: 16px;
    padding-left: 30px;
    gap: 8px;
  }
}
.aboutBox__text-small {
  position: relative;
  z-index: 0;
}
.aboutBox__text-small:before {
  content: "";
  display: block;
  position: absolute;
  left: -1.5em;
  top: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("../../index-images/about-home/star.svg");
  background-size: cover;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .aboutBox__text-small:before {
    left: -1.2em;
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 768px) {
  .aboutBox__text-small:before {
    left: -1em;
    width: 10px;
    height: 10px;
  }
}

.skills {
  background-color: #FAF8EC;
}
.skills__wrap {
  max-width: 1024px;
  margin: auto;
  width: 100%;
  border-radius: 23px;
  border: 1px solid #8c9775;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .skills__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .skills__wrap {
    max-width: 800px;
  }
}
@media screen and (max-width: 1024px) {
  .skills__wrap {
    width: 90%;
  }
}

.skills-container {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillsBox {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .skillsBox {
    gap: 25px;
  }
}
@media (max-width: 768px) {
  .skillsBox {
    gap: 20px;
  }
}
.skillsBox__title {
  color: #8C9775;
  text-align: center;
  font-size: 30px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FAF8EC;
}
@media screen and (max-width: 1024px) {
  .skillsBox__title {
    font-size: 25px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .skillsBox__title {
    font-size: 20px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.skillsBox__content {
  list-style: none;
  font-size: 25px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  padding: 0 55px;
}
@media screen and (max-width: 1024px) {
  .skillsBox__content {
    font-size: 20px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .skillsBox__content {
    font-size: 16px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.skillsBox__text {
  position: relative;
  gap: 15px;
}
@media screen and (max-width: 1024px) {
  .skillsBox__text {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .skillsBox__text {
    gap: 8px;
  }
}
.skillsBox__text:before {
  content: "";
  display: block;
  position: absolute;
  left: -1.5em;
  top: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("/assets/index/index-images/skills-images/star.svg");
  background-size: contain;
}
@media screen and (max-width: 1024px) {
  .skillsBox__text:before {
    width: 15px;
    height: 15px;
    left: -1.2em;
  }
}
@media (max-width: 768px) {
  .skillsBox__text:before {
    width: 10px;
    height: 10px;
    left: -1em;
  }
}
.skillsBox__btn {
  margin: 0 auto;
  text-decoration: none;
  font-size: 16px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  background-color: #f7f7ed;
  display: grid;
  place-items: center;
  padding: 0.5em 2em;
  border-radius: 23px;
  border: 1px solid #8c9775;
  max-width: -moz-max-content;
  max-width: max-content;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .skillsBox__btn {
    margin: 0 auto;
    display: inline-flex;
    font-size: 13px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 30px;
    padding: 1em 3em;
  }
}

.achievements {
  background-color: #FAF8EC;
}
.achievements__wrap {
  max-width: 1024px;
  margin: auto;
  height: auto;
  width: 90%;
  padding-top: 50px;
}
@media screen and (max-width: 1024px) {
  .achievements__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .achievements__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .achievements__wrap {
    padding-top: 30px;
  }
}
.achievements__list {
  list-style: none;
  font-size: 18px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  text-align: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .achievements__list {
    font-size: 17px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .achievements__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 20px;
  }
}
.achievements__item {
  text-align: center;
  gap: 10px;
}
.achievements__item svg {
  width: 100%;
}
.achievements__bigItem {
  font-size: 20px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (max-width: 1024px) {
  .achievements__bigItem {
    font-size: 18px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .achievements__bigItem {
    font-size: 16px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.problems {
  background-color: #FAF8EC;
}
.problems__wrap {
  max-width: 1024px;
  margin: auto;
  height: auto;
  padding-top: 50px;
}
@media screen and (max-width: 1024px) {
  .problems__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .problems__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .problems__wrap {
    padding-top: 30px;
  }
}
.problems__title {
  font-size: 25px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  color: #8C9775;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FAF8EC;
}
@media screen and (max-width: 1024px) {
  .problems__title {
    font-size: 25px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .problems__title {
    font-size: 20px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.problems__list {
  list-style: none;
  margin: 0 auto;
  font-size: 18px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .problems__list {
    font-size: 17px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    gap: 25px;
  }
}
@media (max-width: 768px) {
  .problems__list {
    width: 90%;
    font-size: 16px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 20px;
  }
}
@media (max-width: 500px) {
  .problems__list {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.problems__item {
  border-radius: 23px;
  border: 1px solid #8c9775;
  border-radius: 1em;
  padding: 10px;
  text-align: center;
}
.problems__item svg {
  width: 100%;
}

.services {
  background-color: #abb695;
}
.services__wrap {
  max-width: 1024px;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 30px 0 40px;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .services__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .services__wrap {
    max-width: 800px;
  }
}
@media screen and (max-width: 1024px) {
  .services__wrap {
    padding: 25px 0 40px;
  }
}
.services__wrap .servicesBox:last-child {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .services__wrap .servicesBox:last-child {
    gap: 10px;
  }
}

.servicesBox-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.servicesBox__title-main {
  font-size: 40px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FAF8EC;
}
@media screen and (max-width: 1024px) {
  .servicesBox__title-main {
    font-size: 30px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .servicesBox__title-main {
    font-size: 30px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.servicesBox__subtitle {
  font-size: 20px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .servicesBox__subtitle {
    font-size: 18px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .servicesBox__subtitle {
    font-size: 16px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.servicesBox__container {
  max-width: 325px;
  height: 440px;
  background-color: #FAF8EC;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: -8px 8px 56px 19px rgba(0, 0, 0, 0.2509803922);
}
@media screen and (max-width: 1024px) {
  .servicesBox__container {
    max-width: 350px;
    height: 370px;
  }
}
@media (max-width: 768px) {
  .servicesBox__container {
    max-width: 300px;
    height: 370px;
  }
}
.servicesBox__title {
  font-size: 22px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #8C9775;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .servicesBox__title {
    font-size: 20px;
  }
}
.servicesBox__text {
  font-size: 18px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  text-align: center;
  align-self: flex-start;
  justify-content: center;
}
@media (max-width: 768px) {
  .servicesBox__text {
    font-size: 16px;
  }
}
.servicesBox__button {
  text-decoration: none;
  font-size: 16px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #8C9775;
  background-color: #FAF8EC;
  display: grid;
  place-items: center;
  padding: 0.5em 3em;
  border-radius: 23px;
  border: 1px solid #8c9775;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 10px 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .servicesBox__button {
    margin: 0 auto;
    display: inline-flex;
    font-size: 14px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}
@media (max-width: 500px) {
  .servicesBox__button {
    font-size: 13px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin: 5px 0;
  }
}
.servicesBox__button a {
  color: #8C9775;
}

.invitation {
  background-color: #FAF8EC;
}
.invitation__wrap {
  max-width: 1024px;
  margin: auto;
  height: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .invitation__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .invitation__wrap {
    max-width: 800px;
  }
}

.invitationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 220px;
}
@media screen and (max-width: 1024px) {
  .invitationBox {
    gap: 170px;
  }
}
@media (max-width: 768px) {
  .invitationBox {
    gap: 140px;
  }
}
@media (max-width: 500px) {
  .invitationBox {
    gap: 50px;
  }
}
.invitationBox__divider {
  width: 70%;
  height: 50px;
}
.invitationBox__link {
  max-width: 100px;
}
@media (max-width: 768px) {
  .invitationBox__link {
    width: 45px;
  }
}
@media (max-width: 500px) {
  .invitationBox__link {
    max-width: 40px;
  }
}
.invitationBox__link img {
  width: 100%;
  max-height: 100%;
  border-radius: 35px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.reviews {
  background-color: #abb695;
}
.reviews__wrap {
  margin: 0px auto;
  max-width: 1024px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .reviews__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .reviews__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .reviews__wrap {
    width: 90%;
  }
}

.reviewsBox__title {
  font-size: 40px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  margin-bottom: 30px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FAF8EC;
}
@media (max-width: 768px) {
  .reviewsBox__title {
    font-size: 30px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}
.reviewsBox__card {
  height: 380px;
  background-color: #FAF8EC;
  box-shadow: -8px 8px 56px 19px rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .reviewsBox__card {
    height: 430px;
  }
}
@media (max-width: 768px) {
  .reviewsBox__card {
    height: auto;
  }
}
.reviewsBox__text {
  font-size: 18px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  text-align: justify;
  padding: 20px 40px;
}
@media screen and (max-width: 1024px) {
  .reviewsBox__text {
    font-size: 16px;
    padding: 20px 40px;
  }
}
@media (max-width: 768px) {
  .reviewsBox__text {
    font-size: 14px;
    padding: 15px 30px;
  }
}
@media (max-width: 500px) {
  .reviewsBox__text {
    font-size: 13px;
    padding: 10px 20px;
  }
}
.reviewsBox__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.reviewsBox__button-prev, .reviewsBox__button-next {
  text-decoration: none;
  font-size: 18px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  background-color: initial;
  display: grid;
  place-items: center;
  padding: 0.5em 3em;
  border: 1px solid #faf8ec;
  border-radius: 23px;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .reviewsBox__button-prev, .reviewsBox__button-next {
    font-size: 16px;
    padding: 0.4em 2.5em;
  }
}
@media (max-width: 768px) {
  .reviewsBox__button-prev, .reviewsBox__button-next {
    font-size: 14px;
    padding: 0.3em 2em;
  }
}
@media (max-width: 500px) {
  .reviewsBox__button-prev, .reviewsBox__button-next {
    font-size: 13px;
    padding: 0.2em 2em;
  }
}

.free-resources {
  background-color: #8C9775;
}
.free-resources__wrap {
  max-width: 1024px;
  margin: auto;
  padding: 30px 0 40px;
}
@media screen and (max-width: 1024px) {
  .free-resources__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .free-resources__wrap {
    max-width: 800px;
  }
}
@media screen and (max-width: 1024px) {
  .free-resources {
    padding: 10px 0 10px;
  }
}
@media (max-width: 768px) {
  .free-resources {
    padding: 10px 0 10px;
  }
}
@media (max-width: 500px) {
  .free-resources {
    padding: 0;
  }
}

.free-resourcesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .free-resourcesBox {
    gap: 10px;
  }
}
.free-resourcesBox__title {
  font-size: 40px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  margin-bottom: 30px;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FAF8EC;
}
@media screen and (max-width: 1024px) {
  .free-resourcesBox__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .free-resourcesBox__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}
.free-resourcesBox__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 170px;
  width: 320px;
  border-radius: 23px;
  border: 1px solid #8c9775;
  background-color: #FAF8EC;
  border-radius: 1em;
  padding: 20px;
}
@media screen and (max-width: 1024px) {
  .free-resourcesBox__container {
    height: 160px;
    width: 330px;
  }
}
@media (max-width: 768px) {
  .free-resourcesBox__container {
    height: 155px;
    width: 300px;
  }
}
.free-resourcesBox__small-title {
  font-size: 16px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #8C9775;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .free-resourcesBox__small-title {
    font-size: 14px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .free-resourcesBox__small-title {
    font-size: 14px;
  }
}
.free-resourcesBox__btn {
  text-decoration: none;
  font-size: 16px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #8C9775;
  background-color: #FAF8EC;
  display: grid;
  place-items: center;
  padding: 0.5em 3em;
  border-radius: 23px;
  border: 1px solid #8c9775;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .free-resourcesBox__btn {
    font-size: 15px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0.5em 2.5em;
  }
}
@media (max-width: 768px) {
  .free-resourcesBox__btn {
    margin: 0 auto;
    display: inline-flex;
    font-size: 14px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media (max-width: 500px) {
  .free-resourcesBox__btn {
    font-size: 13px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 5px 0;
  }
}
.free-resourcesBox__btn a {
  color: #8C9775;
}

.footer {
  background: #8C9775;
}
.footer__wrap {
  max-width: 1024px;
  margin: auto;
  margin: 0 auto;
  width: 100%;
  height: 90px;
}
@media screen and (max-width: 1024px) {
  .footer__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .footer__wrap {
    max-width: 800px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__wrap {
    height: 70px;
  }
}
@media (max-width: 768px) {
  .footer__wrap {
    width: 90%;
    height: 70px;
  }
}
@media (max-width: 500px) {
  .footer__wrap {
    height: 60px;
  }
}
.footer .footerNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
@media screen and (max-width: 1024px) {
  .footer .footerNavigation {
    padding-top: 15px;
  }
}
@media (max-width: 768px) {
  .footer .footerNavigation {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .footer .footerNavigation {
    padding-top: 10px;
  }
}
.footer .footerNavigation__wrap {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .footer .footerNavigation__wrap {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .footer .footerNavigation__wrap {
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .footer .footerNavigation__wrap {
    gap: 15px;
  }
}
.footer .footerNavigation__wrap a img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .footer .footerNavigation__wrap a img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .footer .footerNavigation__wrap a img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  .footer .footerNavigation__wrap a img {
    width: 20px;
    height: 20px;
  }
}
.footer .footerNavigation__inside-links {
  display: flex;
  align-items: center;
}
.footer .footerNavigation__link {
  font-size: 20px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 30px;
  color: #FAF8EC;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FAF8EC;
}
@media screen and (max-width: 1024px) {
  .footer .footerNavigation__link {
    font-size: 18px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .footer .footerNavigation__link {
    font-size: 16px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .footer .footerNavigation__link {
    font-size: 14px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 5px;
  }
}
.footer .footerNavigation__link:last-child {
  margin-right: 0;
}
.footer .footerbox__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 12px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
}
@media screen and (max-width: 1024px) {
  .footer .footerbox__title {
    font-size: 11px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .footer .footerbox__title {
    font-size: 10px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 500px) {
  .footer .footerbox__title {
    margin-top: 5px;
    font-size: 7px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}/*# sourceMappingURL=index-style.css.map */