@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.hamburger_xs {
  display: none;
}

@media (max-width: 768px) {
  .hamburger_xs {
    display: block;
    max-width: 200px;
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  .hamburger_xs input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .hamburger_xs span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #FAF8EC;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .hamburger_xs span:first-child {
    transform-origin: 0% 0%;
  }
  .hamburger_xs span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .hamburger_xs input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FAF8EC;
  }
  .hamburger_xs input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .hamburger_xs input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .hamburger_xs .menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 100px;
    background: #8C9775;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .hamburger_xs .menu a {
    color: #FAF8EC;
    transition: color 0.3s ease;
  }
  .hamburger_xs .menu a li {
    padding: 10px 0;
    font-size: 22px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hamburger_xs .menu a:hover {
    color: #6a6763;
  }
  .hamburger_xs input:checked ~ ul {
    transform: none;
  }
}
.header {
  background: #FAF8EC;
  height: 90px;
  width: 100%;
}
@media (max-width: 768px) {
  .header {
    background: #8C9775;
    height: 70px;
  }
}
.header__wrap {
  max-width: 1024px;
  padding-top: 30px;
  margin: auto;
}
@media (max-width: 1024px) {
  .header__wrap {
    max-width: 786px;
  }
}
@media (max-width: 768px) {
  .header__wrap {
    padding-top: 10px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}
.navigation__sosial-media {
  display: flex;
}
.navigation__sosial-media a img {
  margin-right: 20px;
  max-width: 30px;
  min-height: 30px;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.navigation__inside-links {
  display: flex;
  align-items: center;
}
.navigation__link {
  color: #8C9775;
  font-size: 25px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 30px;
}
.navigation__btn {
  margin: 0 auto;
  padding: 0.5em 1em;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: 25px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  background-color: inherit;
  text-align: center;
  text-decoration: none;
  display: grid;
  place-items: center;
  border: 1px solid #8C9775;
  border-radius: 40px;
  cursor: pointer;
}

.home {
  background-color: #FAF8EC;
  height: auto;
}
.home__wrap {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .home__wrap {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .home__wrap {
    max-width: 100vw;
  }
}

.homeBox:last-child {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .homeBox:last-child {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .homeBox:last-child {
    flex-direction: column;
    align-items: center;
  }
}

.homeBox__title {
  font-size: 50px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /*     font-family: "M PLUS 1p"; */
  color: #8C9775;
  text-align: center;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .homeBox__title {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .homeBox__title {
    padding-top: 25px;
    font-size: 30px;
  }
}
.homeBox__img {
  flex-basis: 30%;
}
@media screen and (max-width: 1024px) {
  .homeBox__img {
    margin-right: 40px;
    width: 40%;
  }
}
@media (max-width: 768px) {
  .homeBox__img {
    margin-right: 0;
    margin-bottom: 20px;
    width: 70%;
  }
}
.homeBox__img-img {
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: -8px 8px 56px 19px rgba(0, 0, 0, 0.2509803922);
}
.homeBox__content {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .homeBox__content {
    flex-basis: 60%;
  }
}
@media (max-width: 768px) {
  .homeBox__content {
    flex-basis: 80%;
  }
}
.homeBox__title_name {
  margin-top: 0;
}
.homeBox__list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  gap: 8px;
  flex-shrink: 1;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #8C9775;
}
@media screen and (max-width: 1024px) {
  .homeBox__list {
    height: 320px;
  }
}
@media (max-width: 768px) {
  .homeBox__list {
    height: 400px;
  }
}
.homeBox__item {
  list-style-type: none;
  font-size: 22px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #8C9775;
  padding-left: 20px;
}
@media screen and (max-width: 1024px) {
  .homeBox__item {
    font-size: 20px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .homeBox__item {
    font-size: 19px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
}
.homeBox__item:first-child {
  margin-bottom: 20px;
}

.about {
  background-color: #FAF8EC;
  height: auto;
}
.about__wrap {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .about__wrap {
    max-width: 800px;
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .about__wrap {
    margin: 0 10px;
  }
}

.aboutBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (max-width: 1024px) {
  .aboutBox {
    gap: 20px;
  }
}
.aboutBox__text-big {
  font-size: 40px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #8C9775;
}
@media screen and (max-width: 1024px) {
  .aboutBox__text-big {
    font-size: 20px;
  }
}
.aboutBox__list {
  padding-left: 70px;
  position: relative;
  font-size: 25px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1024px) {
  .aboutBox__list {
    font-size: 18px;
  }
}
.aboutBox__text-small {
  position: relative;
  z-index: 0;
}
.aboutBox__text-small:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  top: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("../../index-images/about-home/star.svg");
  background-size: cover;
  z-index: 1;
}

.skills {
  background-color: #8C9775;
}
@media screen and (max-width: 1024px) {
  .skills {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .skills {
    max-width: 768px;
  }
}
.skills__wrap {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .skills__wrap {
    gap: unset;
  }
}

.skills-container {
  display: flex;
  gap: 40px;
  padding-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillsBoxImg {
  flex: 1 1 50%;
  max-width: 400px;
}
.skillsBoxImg__img {
  filter: drop-shadow(0 0 5px #8c9775);
  border-radius: 1em;
  width: 100%;
}
@media screen and (max-width: 952px) {
  .skillsBoxImg__img {
    height: auto;
    margin: 0 auto;
  }
}

.skillsBox {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  flex-direction: column;
  gap: 30px;
}
.skillsBox__title {
  color: #FAF8EC;
  font-size: 30px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 1024px) {
  .skillsBox__title {
    font-size: 25px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .skillsBox__title {
    font-size: 20px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}
.skillsBox__content {
  list-style: none;
  font-size: 25px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1227px) {
  .skillsBox__content {
    font-size: 20px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (max-width: 1087px) {
  .skillsBox__content {
    font-size: 16px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.skillsBox__item {
  position: relative;
}
.skillsBox__item:before {
  content: "";
  display: block;
  position: absolute;
  left: -2em;
  top: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("/assets/services/services-images/star.svg");
  background-size: contain;
}
.skillsBox__btn {
  margin: 0 auto;
  text-decoration: none;
  font-size: 16px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  background-color: #8C9775;
  display: grid;
  place-items: center;
  padding: 1em 4em;
  border: 2px solid #FAF8EC;
  border-radius: 40px;
  max-width: -moz-max-content;
  max-width: max-content;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .skillsBox__btn {
    margin: 0 auto;
    display: inline-flex;
    font-size: 12px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 30px;
  }
}

.problems {
  padding: 54px 0;
}
.problems__title {
  font-size: 25px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #8C9775;
  font-weight: 700;
}
.problems__text {
  font-size: 15px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  margin-top: 50px;
}
.problems__list {
  list-style: none;
  font-size: 15px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 30px;
}
@media screen and (max-width: 850px) {
  .problems__list {
    grid-template-columns: 1fr;
  }
}
.problems__item {
  border: 2px solid #8C9775;
  border-radius: 1em;
  padding: 20px;
  text-align: center;
}
.problems__item svg {
  width: 100%;
}

.services {
  background-color: #8C9775;
}
.services__wrap {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .services__wrap {
    max-width: 800px;
  }
}
.services__wrap .servicesBox:last-child {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 74px;
}
@media screen and (max-width: 1024px) {
  .services__wrap .servicesBox:last-child {
    gap: 20px;
  }
}

.servicesBox-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.servicesBox__title-main {
  font-size: 50px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
}
@media (max-width: 768px) {
  .servicesBox__title-main {
    font-size: 40px;
  }
}
.servicesBox__subtitle {
  font-size: 30px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  text-align: center;
}
@media (max-width: 768px) {
  .servicesBox__subtitle {
    font-size: 25px;
  }
}
.servicesBox__container {
  max-width: 300px;
  height: 500px;
  background-color: #FAF8EC;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: -8px 8px 56px 19px rgba(0, 0, 0, 0.2509803922);
}
@media screen and (max-width: 1024px) {
  .servicesBox__container {
    max-width: 300px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  .servicesBox__container {
    height: 340px;
  }
}
.servicesBox__title {
  font-size: 22px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #8C9775;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .servicesBox__title {
    font-size: 20px;
  }
}
.servicesBox__text {
  font-size: 18px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  text-align: center;
  align-self: flex-start;
}
@media (max-width: 768px) {
  .servicesBox__text {
    font-size: 16px;
  }
}
.servicesBox__button {
  font-size: 16px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  max-width: 209px;
  min-height: 43px;
  width: 100%;
  background-color: inherit;
  border: 2px solid #8C9775;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
}
.servicesBox__button a {
  color: #8C9775;
}

.invitation {
  background-color: #FAF8EC;
  height: auto;
}
.invitation__wrap {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .invitation__wrap {
    max-width: 500px;
  }
}

.invitationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.invitationBox__title {
  font-size: 50px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #8C9775;
}
@media (max-width: 768px) {
  .invitationBox__title {
    font-size: 35px;
    text-align: center;
  }
}
.invitationBox__icons {
  display: flex;
  gap: 200px;
}
@media (max-width: 768px) {
  .invitationBox__icons {
    gap: 20px;
  }
}
.invitationBox__link {
  max-width: 100px;
}
.invitationBox__link img {
  width: 100%;
  height: 100%;
  border-radius: 35px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .invitationBox__link img {
    max-height: 50px;
  }
}
.invitationBox__link:nth-child(2) {
  max-width: 120px;
}
.invitationBox__link:nth-child(2) img {
  border-radius: 15px;
}

.carousel {
  background-color: #8C9775;
  height: 850px;
}
@media (max-width: 768px) {
  .carousel {
    height: 950px;
  }
}
.carousel__wrap {
  max-width: 1024px;
  margin: 0px auto;
  padding-top: 54px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .carousel__wrap {
    max-width: 500px;
  }
}

.carouselBox:last-child {
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .carouselBox:last-child {
    height: 850px;
  }
}

.carouselBox__title {
  font-size: 50px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FAF8EC;
}
@media (max-width: 768px) {
  .carouselBox__title {
    font-size: 35px;
    text-align: center;
  }
}
.carouselBox__card {
  height: 570px;
  max-width: 700px;
  background-color: #FAF8EC;
  box-shadow: -8px 8px 56px 19px rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .carouselBox__card {
    height: 730px;
  }
}
.carouselBox__text {
  font-size: 18px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  text-align: justify;
  padding: 20px 40px;
}
@media (max-width: 768px) {
  .carouselBox__text {
    font-size: 16px;
    padding: 15px 30px;
  }
}
.carouselBox__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.carouselBox__button-prev, .carouselBox__button-next {
  font-size: 18px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  background-color: inherit;
  padding: 10px 20px;
  max-width: 200px;
  width: 100%;
  min-height: 43px;
  border-radius: 40px;
  border: 2px;
  border-style: solid;
  border-color: #FAF8EC;
  cursor: pointer;
}

.burger__wrapper_xs {
  display: none;
}

@media (max-width: 768px) {
  .burger__wrapper_xs {
    display: block;
    max-width: 200px;
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  .burger__wrapper_xs input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .burger__wrapper_xs span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #FAF8EC;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .burger__wrapper_xs span:first-child {
    transform-origin: 0% 0%;
  }
  .burger__wrapper_xs span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .burger__wrapper_xs input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FAF8EC;
  }
  .burger__wrapper_xs input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .burger__wrapper_xs input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}
.footer {
  background: #8C9775;
  height: 90px;
  width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .footer {
    background: #8C9775;
    height: 70px;
  }
}
.footer__container {
  max-width: 1024px;
  padding-top: 30px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .footer__container {
    max-width: 786px;
  }
}
@media (max-width: 768px) {
  .footer__container {
    padding-top: 10px;
  }
}
.footer .footer-icons__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer .footer-icons__nav {
    display: none;
  }
}
.footer .footer-icons__wrapper {
  display: flex;
}
.footer .footer-icons__img {
  margin-right: 20px;
  max-width: 30px;
  min-height: 30px;
}
.footer__list {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 10px 50px 74px;
  background-color: #8C9775;
  top: 0;
  list-style-type: none;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.footer__link {
  color: #FAF8EC;
  transition: color 0.3s ease;
  padding: 10px 0;
  font-size: 22px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__link:hover {
  color: #6a6763;
}
.footer input:checked ~ ul {
  transform: translate(0, 0);
}

.inside-links {
  display: flex;
  gap: 30px;
}
.inside-links__link {
  color: #FAF8EC;
  font-size: 25px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}/*# sourceMappingURL=index-style.css.map */