.burger__wrapper_xs {
    display: none;
}

@include xs {
    .burger__wrapper_xs {
        display: block;
        max-width: 200px;
        position: relative;
        top: 10px;
        left: 20px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

        input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0;
            /* hide this */
            z-index: 2;
            /* and place it over the hamburger */
            -webkit-touch-callout: none;
        }

        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: $font-beige;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        }

        span:first-child {
            transform-origin: 0% 0%;
        }

        span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

        input:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: $font-beige;
        }

        input:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

        .menu {
            position: absolute;
            width: 200px;
            margin: -100px 0 0 -50px;
            padding: 50px;
            padding-bottom: 10px;
            padding-top: 100px;
            background: $font-green;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

            &__link {
                color: $font-beige;
                transition: color 0.3s ease;

            }

            &__item {
                padding: 10px 0;
                @include text-font(22px, 400, normal);

                &:hover {
                    color: #6a6763;
                }
            }
        }

        input:checked~ul {
            transform: none;
        }
    }
}

.footer {
    background: $font-beige;
    height: 90px;
    width: 100%;

    @include xs {
        background: $font-green;
        height: 70px;
    }

    &__wrap {
        max-width: 1024px;
        padding-top: 30px;
        margin: 0 auto;

        @media (max-width: 1024px) {
            max-width: 786px;
        }

        @include xs {
            padding-top: 10px;
        }
    }
}

.footerBox {
    &__nav {
        @include flex-between;

        @include xs {
            display: none;
        }

        &__wrapper {
            display: flex;

            &__link {

                &__img {
                    margin-right: 20px;
                    max-width: 30px;
                    min-height: 30px;
                }
            }
        }
    }
}

.copyright__wrapper {
    color: $font-green;
    @include text-font(16px, 500, normal);
}

.inside-links__wrapper {
    display: flex;
    gap: 30px;

    &__link {
        color: $font-green;
        @include text-font(25px, 500, normal);
    }
}