.footer {
    background: $background-green;

    &__wrap {
        margin: 0 auto;
        margin-top: 40px;
        width: 90%;
        height: 90px;

        @include sm {
            height: 70px;
        }

        @include xs {
            width: 90%;
            height: 70px;
        }

        @include xxs {
            height: 60px;
        }
    }

    .footerNavigation {
        @include flex-between;
        padding-top: 20px;

        @include sm {
            padding-top: 15px;
        }

        @include xs {
            padding-top: 20px;
        }

        @include xxs {
            padding-top: 10px;
        }

        &__wrap {
            display: flex;
            gap: 50px;

            @include sm {
                gap: 40px;
            }

            @include xs {
                gap: 30px;
            }

            @include xxs {
                gap: 15px;
            }

            a {
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 25px;
                    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);

                    @include sm {
                        width: 30px;
                        height: 30px;
                        margin-left: 10px;
                    }

                    @include xs {
                        width: 25px;
                        height: 25px;
                        margin-left: 10px;
                    }

                    @include xxs {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }


        &__inside-links {
            display: flex;
            align-items: center;
        }

        &__link {
            @include text-font(20px, 500, normal);
            margin-right: 30px;
            color: $font-beige;
            text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
            -webkit-text-stroke-width: 1;
            -webkit-text-stroke-color: $font-beige;

            @include sm {
                @include text-font(18px, 500, normal);
                margin-right: 20px;
            }

            @include xs {
                @include text-font(16px, 500, normal);
                margin-right: 10px;
            }

            @include xxs {
                @include text-font(14px, 500, normal);
                margin-right: 5px;
            }

            &:last-child {
                margin-right: 0;
            }

        }
    }

    .footerbox__title {
        @include flex-center;
        margin: 0 auto;
        @include text-font(12px, 400, normal);
        color: $font-beige;

        @include sm {
            @include text-font(11px, 400, normal);
        }

        @include xs {
            @include text-font(10px, 400, normal);
        }

        @include xxs {
            margin-top: 5px;
            @include text-font(7px, 400, normal);
        }
    }
}