a {
  text-decoration: none;
}

@mixin text-font($size, $weight, $height) {
  font-size: $size;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: $weight;
  line-height: $height;
}

@mixin heading-font($size, $weight, $height) {
  font-size: $size;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: $weight;
  line-height: $height;
}

@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #faf8ec;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(17.5px);
}

@mixin border-green {
  border-radius: 23px;
  border: 1px solid #8c9775;
}

@mixin border-beige {
  border: 1px solid #faf8ec;
  border-radius: 23px;
}

@mixin wrap-width {
  max-width: 1024px;
  margin: 0 auto;

  @include sm {
    max-width: 800px;
  }

  @include xs {
    max-width: 800px;
  }
}

@mixin background() {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-right($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
  transform: translate(0, -50%);
}

@mixin absolut-top-center($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, 0);
}

@mixin xxs {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 1024px) {
    @content;
  }
}