.skills {
  background-color: $background-beige;

  &__wrap {
    max-width: 1024px;
    width: 100%;
    @include border-green;
    @include background ();
    border-radius: 15px;
    margin: 0 auto;
    @include flex-between;
    flex-wrap: wrap;

    @include sm {
      max-width: 800px;
      width: 90%;
    }
  }
}

.skills-container {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;

}

.skillsBox {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;


  &__title {
    color: $font-green;
    text-align: center;
    @include heading-font (30px, 700, normal);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: $font-beige;

    @include sm {
      @include heading-font (25px, 400, normal);
    }

    @include xs {
      @include heading-font (20px, 400, normal);
    }

  }

  &__content {
    list-style: none;
    @include text-font (25px, 400, normal);
    color: $font-green;
    padding: 0 55px;

    @include sm {
      @include text-font (20px, 400, normal);
      padding: 0 30px;
    }

    @include xs {
      @include text-font (16px, 400, normal);
    }
  }

  &__text {
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -1.5em;
      top: 8px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-image: url('/assets/index/index-images/skills-images/star.svg');
      background-size: contain;

      @include sm {
        width: 15px;
        height: 15px;
        left: -1.2em;
      }

      @include xs {
        width: 12px;
        height: 12px;
        left: -1em;
      }
    }
  }

  &__btn {
    margin: 0 auto;
    text-decoration: none;
    @include text-font (16px, 400, normal);
    color: $font-green;
    background-color: #f7f7ed;
    display: grid;
    place-items: center;
    padding: 1em 4em;
    @include border-green;
    max-width: max-content;
    box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 45px;


    @include xs {
      margin: 0 auto;
      display: inline-flex;
      @include text-font(13px, 500, 140%);
      margin-bottom: 30px;
    }
  }
}