* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  &__title {
    margin-bottom: 31px;
    color: #faf8ec;
    font-size: 3.5vw;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 3vw;
    }
  }
  &__subtitle {
    color: #faf8ec;
    font-size: 36px;
    text-align: center;
    margin-bottom: 131px;
    @media (max-width: 980px) {
      margin-bottom: 30px;
      font-size: 24px;
    }
    @media (max-width: 768px) {
      font-size: 21px;
    }
  }
}

.services {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #8c9775;
  padding-top: 58px;

  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 111px;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 74px;
    @media (max-width: 1160px) {
      gap: 20px;
    }
  }
  &__wrap_lastElement {
    margin-bottom: 76px;
  }
  .hr {
    width: 100%;
    hr {
      max-width: 410px;
      min-height: 3px;
      margin: 0 auto 35px auto;
      background-color: rgba(250, 248, 236, 1);
    }
  }
}
.servicesBox {
  max-width: 450px;
  min-height: 40vh;
  background-color: #faf8ec;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: -8px 8px 56px 19px #00000040;
  @media (max-width: 1160px) {
    max-width: 300px;
    min-height: 30vh;
  }
  &__title {
    font-size: 1.5vw;
    text-align: center;
    color: #8c9775;
  }

  &__text {
    font-size: 1vw;
    text-align: center;
    color: #8c9775;
    @media (max-width: 1480px) {
      font-size: 1.5vw;
    }
    @media (max-width: 768px) {
      font-size: 2vw;
    }
  }

  &__button {
    font-size: 1vw;
    max-width: 209px;
    width: 100%;
    background-color: inherit;
    min-height: 43px;
    border-radius: 40px;
    border: 2px;
    text-decoration: none;
    text-align: center;
    border-width: 10px, 15px, 10px, 10px;
    border-style: solid;
    border-color: #8c9775;
    border-radius: 40px;
    color: #8c9775;
    cursor: pointer;
  }
}