.services {
  background-color: $background-green;

  &__wrap {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (max-width: 1024px) {
      max-width: 800px;
    }

    .servicesBox:last-child {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      width: 94%;
      margin: 0 auto;
      margin-bottom: 74px;
      @media (max-width: 1160px) {
        gap: 20px;
      }
    }
  }
}

.servicesBox-title {
  @include flex-center;
  flex-direction: column;
  margin: 0 auto;
}

.servicesBox {
  &__title-main {
    @include heading-font(50px, 400, normal);
    color: $font-beige;
  }

  &__subtitle {
    @include heading-font(30px, 400, normal);
    color: $font-beige;
    text-align: center;
  }

  &__container {
    max-width: 300px;
    height: 400px;
    background-color: $background-beige;
    border-radius: 15px;
    @include flex-between;
    flex-direction: column;
    padding: 20px;
    box-shadow: -8px 8px 56px 19px #00000040;
    @media (max-width: 1160px) {
      max-width: 300px;
      min-height: 30vh;
    }
  }

  &__title {
    @include text-font(22px, 600, normal);
    color: $font-green;
    text-align: center;
  }

  &__text {
    @include text-font(18px, 400, normal);
    color: $font-green;
    text-align: center;
  }

  &__button {
    @include text-font(16px, 400, normal);
    color: $font-green;
    max-width: 209px;
    min-height: 43px;
    width: 100%;
    background-color: inherit;
    border: 2px solid $font-green;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
  }
}
