.problems {
  background-color: $background-beige;

  &__wrap {
    @include wrap-width;
    height: auto;
    padding-top: 50px;

    @include xs {
      padding-top: 30px;
    }
  }

  &__title {
    @include heading-font(25px, 500, normal);
    text-align: center;
    color: $font-green;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: $font-beige;

    @include sm {
      @include heading-font(25px, 500, normal);
    }

    @include xs {
      @include heading-font(20px, 500, normal);
    }
  }

  &__list {
    list-style: none;
    margin: 0 auto;
    @include text-font(18px, 400, normal);
    color: $font-green;
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 30px;

    @include sm {
      @include text-font(17px, 400, normal);
      margin-top: 30px;
      gap: 25px;
    }

    @include xs {
      width: 90%;
      @include text-font(16px, 400, normal);
      gap: 20px;
    }

    @include xxs {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }

  &__item {
    @include border-green;
    border-radius: 1em;
    padding: 10px;
    text-align: center;

    svg {
      width: 100%;
    }
  }
}
