.achievements {
  background-color: $background-beige;
  height: auto;

  &__wrap {
    @include wrap-width;

    padding-top: 50px;
  }

  &__text {
    @include text-font(15px, 400, normal);
    color: $font-green;
    margin-top: 10px;
  }

  &__list {
    list-style: none;
    @include text-font(15px, 400, normal);
    color: $font-green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;

    @media screen and (max-width: 850px) {
      @include text-font(18px, 400, normal);
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: 20px;
    text-align: center;

    svg {
      width: 100%;
      padding: 10px;
    }
  }
}
