.invitation {
  background-color: $background-beige;
  height: auto;

  &__wrap {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include xs {
      max-width: 500px;
    }
  }
}

.invitationBox {
  @include flex-center;
  flex-direction: column;

  &__title {
    @include heading-font(50px, 500, normal);
    color: $font-green;

    @include xs {
      display: none;
    }
  }

  &__icons {
    display: flex;
    gap: 200px;

    @include xs {
      gap: 20px;
    }
  }

  &__link {
    max-width: 100px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 35px;
      box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);

      @include xs {
        max-height: 50px;
      }
    }
  }
  &__link:nth-child(2) {
    max-width: 120px;
    img {
      border-radius: 15px;
    }
  }
}
