.invitation {
  background-color: $background-beige;

  &__wrap {
    @include wrap-width;
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.invitationBox {
  @include flex-center;
  gap: 220px;

  @include sm {
    gap: 170px;
  }

  @include xs {
    gap: 140px;
  }

  @include xxs {
    gap: 50px;
  }

  &__divider {
    width: 70%;
    height: 50px;
  }

  &__link {
    max-width: 100px;

    @include xs {
      width: 45px;
    }

    @include xxs {
      max-width: 40px;
    }

    img {
      width: 100%;
      max-height: 100%;
      border-radius: 35px;
      box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
    }
  }
}