@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap");
a {
  text-decoration: none;
}

.header {
  background: #8C9775;
  width: 100%;
}
.header__wrap {
  margin: 0 auto;
  width: 90%;
  height: 90px;
}
@media screen and (max-width: 1024px) {
  .header__wrap {
    height: 85px;
  }
}
@media (max-width: 768px) {
  .header__wrap {
    width: 90%;
    height: 70px;
  }
}
@media (max-width: 500px) {
  .header__wrap {
    height: 60px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}
.navigation__sosial-media {
  display: flex;
  gap: 20px;
}
.navigation__sosial-media a img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .navigation__sosial-media a img {
    width: 30px;
    height: 30px;
  }
}
.navigation__inside-links {
  display: flex;
  align-items: center;
}
.navigation__link {
  margin-right: 30px;
  color: #FAF8EC;
  font-size: 20px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (max-width: 1024px) {
  .navigation__link {
    font-size: 18px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.navigation__btn {
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  padding: 0.3em 1em;
  font-size: 20px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  color: #8C9775;
  background-color: #FAF8EC;
  border-radius: 23px;
  border: 1px solid #8c9775;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .navigation__btn {
    font-size: 18px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.hamburger_xs {
  display: none;
}

@media (max-width: 768px) {
  .hamburger_xs {
    display: block;
    max-width: 220px;
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  .hamburger_xs input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  .hamburger_xs span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #FAF8EC;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .hamburger_xs span:first-child {
    transform-origin: 0% 0%;
  }
  .hamburger_xs span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .hamburger_xs input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FAF8EC;
  }
  .hamburger_xs input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .hamburger_xs input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .hamburger_xs .menu {
    position: absolute;
    width: 220px;
    margin: -100px 0 0 -50px;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 100px;
    background: #8C9775;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .hamburger_xs .menu a {
    color: #FAF8EC;
    transition: color 0.3s ease;
  }
  .hamburger_xs .menu a li {
    padding: 10px 0;
    font-size: 22px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hamburger_xs .menu a:hover {
    color: #6a6763;
  }
  .hamburger_xs input:checked ~ ul {
    transform: none;
  }
}
.footer {
  background: #8C9775;
}
.footer__wrap {
  margin: 0 auto;
  margin-top: 40px;
  width: 90%;
  height: 90px;
}
@media screen and (max-width: 1024px) {
  .footer__wrap {
    height: 70px;
  }
}
@media (max-width: 768px) {
  .footer__wrap {
    width: 90%;
    height: 70px;
  }
}
@media (max-width: 500px) {
  .footer__wrap {
    height: 60px;
  }
}
.footer .footerNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
@media screen and (max-width: 1024px) {
  .footer .footerNavigation {
    padding-top: 15px;
  }
}
@media (max-width: 768px) {
  .footer .footerNavigation {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .footer .footerNavigation {
    padding-top: 10px;
  }
}
.footer .footerNavigation__wrap {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .footer .footerNavigation__wrap {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .footer .footerNavigation__wrap {
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .footer .footerNavigation__wrap {
    gap: 15px;
  }
}
.footer .footerNavigation__wrap a img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .footer .footerNavigation__wrap a img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
}
@media (max-width: 768px) {
  .footer .footerNavigation__wrap a img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  .footer .footerNavigation__wrap a img {
    width: 20px;
    height: 20px;
  }
}
.footer .footerNavigation__inside-links {
  display: flex;
  align-items: center;
}
.footer .footerNavigation__link {
  font-size: 20px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 30px;
  color: #FAF8EC;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FAF8EC;
}
@media screen and (max-width: 1024px) {
  .footer .footerNavigation__link {
    font-size: 18px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .footer .footerNavigation__link {
    font-size: 16px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .footer .footerNavigation__link {
    font-size: 14px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 5px;
  }
}
.footer .footerNavigation__link:last-child {
  margin-right: 0;
}
.footer .footerbox__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 12px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
}
@media screen and (max-width: 1024px) {
  .footer .footerbox__title {
    font-size: 11px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 768px) {
  .footer .footerbox__title {
    font-size: 10px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 500px) {
  .footer .footerbox__title {
    margin-top: 5px;
    font-size: 7px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAF8EC;
}

.main {
  padding: 0 50px;
}
@media screen and (max-width: 500px) {
  .main {
    padding: 0 10px;
  }
}

.services-page {
  max-width: 1920px;
  margin: 0 auto;
}
.services-page__title {
  text-wrap: balance;
  color: #8C9775;
  font-size: 50px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 54px;
}
@media screen and (max-width: 928px) {
  .services-page__title {
    font-size: 30px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (max-width: 500px) {
  .services-page__title {
    font-size: 25px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
}

.page-wrapper {
  display: flex;
  gap: 100px;
  margin-top: 54px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-wrapper {
  flex: 1 1 50%;
  max-width: 400px;
}
.image-wrapper__img {
  filter: drop-shadow(0 0 5px #8C9775);
  border-radius: 1em;
  width: 100%;
}
@media screen and (max-width: 952px) {
  .image-wrapper {
    height: auto;
    margin: 0 auto;
  }
}

.service-description {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  flex-direction: column;
  gap: 20px;
}
.service-description__title {
  color: #8C9775;
  font-size: 25px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.service-description__list {
  list-style: none;
  font-size: 25px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8C9775;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 1227px) {
  .service-description__list {
    font-size: 20px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media screen and (max-width: 1087px) {
  .service-description__list {
    font-size: 16px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
  }
}
.service-description__item {
  position: relative;
}
.service-description__item:before {
  content: "";
  display: block;
  position: absolute;
  left: -2em;
  top: 8px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("../../services-images/star.svg");
  background-size: contain;
}

.duration {
  margin-top: 54px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
.duration__container {
  max-width: 500px;
  border: 1px solid #8C9775;
  background-color: #8C9775;
  border-radius: 1em;
  padding: 20px;
  min-height: 243px;
}
.duration__title {
  font-size: 25px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 347px) {
  .duration__title {
    font-size: 20px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.duration__text {
  font-size: 16px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  margin-top: 20px;
  text-align: justify;
}
@media screen and (max-width: 347px) {
  .duration__text {
    font-size: 14px;
    font-family: "M PLUS 1p", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.duration .price-connect {
  max-width: 500px;
  border: 1px solid #8C9775;
  background-color: #8C9775;
  border-radius: 1em;
  padding: 20px;
}
.duration .price-connect__title {
  font-size: 25px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 347px) {
  .duration .price-connect__title {
    font-size: 20px;
    font-family: "Raleway", "arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.duration .price-connect__title-numbers {
  font-family: Arial, Helvetica, sans-serif;
}
.duration .price-connect__subtitle {
  font-size: 15px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  padding: 20px 0 20px;
  text-align: center;
}
.duration .price-connect__tlg {
  font-size: 15px;
  font-family: "Raleway", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  cursor: pointer;
  text-decoration: underline;
}
.duration .price-connect__text {
  font-size: 12px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  font-style: italic;
  text-align: center;
}
.duration .price-connect__link {
  text-decoration: none;
  font-size: 16px;
  font-family: "M PLUS 1p", "arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FAF8EC;
  background-color: #8C9775;
  display: grid;
  place-items: center;
  padding: 1em 4em;
  border: 2px solid #FAF8EC;
  border-radius: 40px;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=services2.css.map */