@import "../additional/template";
@import "../additional/fonts";
@import "../additional/vars";
.home {
  background-color: #8c9775;
  .home__vector-1 {
    position: absolute;
    height: 500px;
    right: 0px;
    top: 290px;
  }
  .home__vector-2 {
    position: absolute;
    bottom: 0px;
  }
}
.home__wrap {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  .homeBox {
    .homeBox__title {
      @include heading-font(48px, 500, normal);
      color: #faf8ec;
      text-align: center;
      margin-bottom: 60px;
    }
  }
  .homeBox:last-child {
    display: flex;
    .imgBox {
      width: 40%;
      margin-bottom: 250px;
      margin-right: 100px;
      img {
        width: 100%;
        border-radius: 500px;
      }
    }
    .homeBox__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .homeBox__list {
        display: flex;
        flex-direction: column-reverse;
        .homeBox__item {
          list-style-type: none;
          @include text-font(18px, 400, normal);
          color: #faf8ec;
          margin-bottom: 20px;
        }
      }
    }
  }
}
