.home {
  background-color: $background-beige;
  height: auto;

  &__wrap {
    @include wrap-width;
    height: 100%;
    @include flex-center;
    flex-direction: column;
    gap: 50px;
  }
}

.homeBox:last-child {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  height: 100%;

  @include sm {
    margin-bottom: 20px;
  }

  @include xs {
    flex-direction: column;
    align-items: center;
  }
}

.homeBox {
  &__title {
    @include heading-font(50px, 500, normal);
    color: $font-green;
    text-align: center;
    margin-bottom: 0;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-color: $font-beige;

    @include sm {
      font-size: 45px;
    }

    @include xs {
      padding-top: 15px;
      font-size: 40px;
    }
  }

  &__img {
    flex-basis: 29.5%;

    @include sm {
      flex-basis: 33%;
    }

    @include xs {
      margin-right: 0;
      width: 40%;
    }

    @include xxs {
      width: 60%;
    }
  }

  &__img-img {
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: -8px 8px 56px 19px #00000040;
  }

  &__content {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    height: 100%;

    @include sm {
      flex-basis: 60%;
      width: 90%;
      gap: 10px;
    }

    @include xs {
      flex-basis: 80%;
    }
  }

  &__title_name {
    @include sm {
      font-size: 35px;
      text-align: right;
    }

    @include xs {
      padding: 0;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    gap: 8px;
    flex-shrink: 1;
    height: 100%;
    border-radius: 20px;
    border: 1px solid $background-green;

    @include sm {
      gap: 6px;
    }

    @include xs {
      height: auto;
    }
  }

  &__item {
    list-style-type: none;
    @include text-font(22px, 500, normal);
    color: $font-green;
    padding: 0 15px;

    @include sm {
      @include text-font(18px, 500, normal);
    }

    @include xs {
      text-align: center;
    }
  }

  &__item:first-child {
    margin-bottom: 15px;

    @include sm {
      margin-bottom: 10px;
    }
  }
}
