.free-resources {
  background-color: $background-green;
  padding-bottom: 54px;
  padding-top: 40px;

  @include sm {
  }

  &__wrap {
    max-width: 1024px;
    margin: 0 auto;

    @include sm {
      max-width: 768px;
    }

    @include xs {
      max-width: auto;
    }
  }
}

.free-resourcesBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  &__title {
    @include heading-font(40px, 400, normal);
    color: $font-beige;
    padding-bottom: 30px;
    text-align: center;

    @include xs {
      @include heading-font(20px, 400, normal);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    width: 300px;
    border: 1px solid $font-beige;
    background-color: $background-beige;
    border-radius: 1em;
    padding: 20px;
  }

  &__small-title {
    @include text-font(12px, 400, normal);
    color: $font-green;
    text-align: center;
  }

  &__btn {
    @include text-font(16px, 400, normal);
    text-decoration: none;

    max-width: 209px;
    min-height: 43px;
    width: 100%;

    background-color: inherit;
    border: 2px solid $font-green;
    border-radius: 40px;
    text-align: center;
    align-self: center;
    cursor: pointer;

    @media screen and (max-width: 375px) {
      padding: 1em 2em;
    }
  }

  &__link {
    @include text-font(18px, 400, normal);
    color: $font-green;
  }
}
