.free-resources {
  background-color: $background-green;

  &__wrap {
    @include wrap-width;
    padding: 30px 0 40px;
  }

  @include sm {
    padding: 10px 0 10px;
  }

  @include xs {
    padding: 10px 0 10px;
  }

  @include xxs {
    padding: 0;
  }
}

.free-resourcesBox {
  @include flex-center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;

  @include sm {
    gap: 10px;
  }

  &__title {
    @include heading-font(40px, 400, normal);
    color: $font-beige;
    margin-bottom: 30px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: $font-beige;

    @include sm {
      margin-bottom: 30px;
      @include heading-font(30px, 400, normal);
    }

    @include xs {
      margin-bottom: 30px;
      @include heading-font(30px, 400, normal);
      text-align: center;
    }
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 170px;
    width: 320px;
    @include border-green;
    background-color: $background-beige;
    border-radius: 1em;
    padding: 20px;

    @include sm {
      height: 160px;
      width: 330px;
    }

    @include xs {
      height: 155px;
      width: 300px;
    }
  }

  &__small-title {
    @include text-font(16px, 500, normal);
    color: $font-green;
    text-align: center;
    margin-bottom: 10px;

    @include sm {
      @include text-font(14px, 500, normal);
    }

    @include xs {
      font-size: 14px;
    }
  }

  &__btn {
    text-decoration: none;
    @include text-font(16px, 500, normal);
    color: $font-green;
    background-color: $background-beige;
    display: grid;
    place-items: center;
    padding: 0.5em 3em;
    @include border-green;
    max-width: max-content;
    cursor: pointer;

    @include sm {
      @include text-font(15px, 500, normal);
      padding: 0.5em 2.5em;
    }

    @include xs {
      margin: 0 auto;
      display: inline-flex;
      @include text-font(14px, 500, normal);
    }

    @include xxs {
      @include text-font(13px, 500, normal);
      margin: 5px 0;
    }

    a {
      color: $font-green;
    }
  }
}
