.about {
  background-color: $background-beige;
  height: auto;

  &__wrap {
    max-width: 1024px;
    margin: 0 auto;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include sm {
      max-width: 800px;
      justify-content: flex-start;
    }

    @include xs {
      margin: 0 10px;
    }
  }
}

.aboutBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;

  @include sm {
    gap: 20px;
  }

  &__text-big {
    @include heading-font(40px, 700, normal);
    color: $font-green;

    @include sm {
      font-size: 30px;
    }

    @include xs {
      text-align: center;
      font-size: 22px;
      font-weight: 500;
    }
  }

  &__list {
    padding-left: 70px;
    position: relative;

    @include text-font(25px, 400, normal);
    color: $font-green;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @include sm {
      font-size: 18px;
    }

    @include xs {
      font-size: 16px;
      padding-left: 30px;
    }
  }

  &__text-small {
    position: relative;
    z-index: 0;
  }

  &__text-small:before {
    content: "";
    display: block;
    position: absolute;
    left: -1em;
    top: 8px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url("../../index-images/about-home/star.svg");
    background-size: cover;
    z-index: 1;

    @include xs {
      width: 10px;
      height: 10px;
    }
  }
}
